<h1> Players!</h1>
<%if session[:user_id] == 1 %>
<a href="/players/new"> Create A New Player</a>  <br><br>
<%end%>


<% @players.each do |player|%>

    <h2>• <%= player.name %> </h2>
    <h4>Age: <%=player.age%></h4><br>
    <h4>Position: <%=player.position%></h4><br>
    
    <% if session[:user_id] == 1%>
    <a href="/players/<%=player.id%>/edit">Edit Player</a><br><br>
    <%end%>
<%end%>


