<h1> Welcome to the Fantasy Five-a-Side Creator!</h1>

<a href= "/signup"> Create a New Account </a> <br><br>
<a href="/login"> Have an Account? Login Here</a> <br><br><br><br>
<% if logged_in?%>
<a href="/players"> See all our current players here<a>
<% else %>
<p> Please Log in or Sign up to view Clubs and/or Players</p>
<%end%>